<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SelfManagementEntities" connectionString="metadata=res://*/SelfManagementModel.csdl|res://*/SelfManagementModel.ssdl|res://*/SelfManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SelfManagement.mdf;Integrated Security=True;User Instance=true;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>